/* CSS declarations go here */
body{
    margin-bottom: 50px;
} 

.app{
    margin-top: 100px;
}
.northstar{
    min-height: 30vh;
    padding: 20px;
    margin: 0 10px 10px 0;
    border: orangered;
    border-radius: 20px;
    background-color:tomato ;
    color: whitesmoke;
}

.orion{
    min-height: 30vh;
    padding: 20px;
    margin: 0 10px 10px 0;
    border:orangered;
    border-radius: 20px;
    background-color: tomato;
    color:  whitesmoke;
}
.subtitle{
    margin-bottom: 20px;
}
.checked{
    text-decoration: line-through;
} 
input[type=checkbox]{
    width: 24px;
    height: 24px;
}

table{
    font-size: 120%;
}

[name=title]{
    border: none;
    font-size: 120%;
    color: whitesmoke;
    padding:0.15em;
    background-color: tomato;
    cursor:pointer;
}
    
[name=title]:hover{
    border: none;
    border-bottom: snow solid 3px;
    cursor:pointer;
    background-color: orange;
}

.navbar{
    margin-bottom: 50px;
}

.navbar_header { 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
}
